.dashdash{
    margin: -9px ;
    height: 100%;
    display: flex;
    width: 100%;
}
.dashbody{
    width: 90%;
}
.DashboardMiddleContainer{
    display: flex;

}
.containerLeft{
    width: 65%;
    border-right: 1px solid #DBDFE0;
    height: 87.5vh;
    overflow: scroll;
}
.containerRight{
    min-width: 30%;
}