.login_container{
    width: auto;
    height: 100vh;
    background: #ffffff;
    background-image: url(../images/background.webp);
    display: flex;
    justify-content: space-evenly;
    padding: 0 10%;
    align-items: center;

}
.login_left{
    width: 100% ;
    height: 100%;
    background: #ffffff;
    height: 600px;
    display: flex;
    flex-direction: column;
    background-color: #ffffff

}
.login_right{
    width: 100% ;
    height: 100%;
    height: 600px;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    background-color: aqua;
   background-image: url(../images/loginback.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}


.logo_div>img{
    width: 50px;
    height: 50px;

}
.logo_div{
    display: flex;
    align-items: center;
    /* height: 100px;
    width: 100%; */
    background-color: #ffffff;
}
.login_header>img{
    width: 80px;
    height: 80px;
}
.login_header{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;

    /* background-color: #ffffff; */

}
.login_form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    /* background-color: #ffffff; */
}
.login_form>input{
    width: 300px;
    height: 40px;
    border: 1px solid #b663e3;
    border-radius: 20px;
    margin: 10px 0;
    padding: 0 10px;
}
.check_box {

}
.pass{
    display: flex;
    width: 300px;

}
.pass>p{
    margin: 20px 10px;
}
.login_form>button{
    width: 310px;
    height: 42px;
    border: 1px solid #ffffff;
    border-radius: 20px;
    margin: 10px 0;
    padding: 0 10px;
  background-image: linear-gradient(to right, rgb(132,40,228) , rgb(168,102,236));

}
.login_form>p>a{
    color: #b663e3;
}