.makePost {
    width: 75%;
    margin: auto;
    margin-top: 4vh;
    margin-bottom: 6vh;
    padding: 3vh;
    padding-bottom: 3vh;
    border-radius: 10px;
    box-shadow:
        2px 2px 150px rgba(0, 0, 0, 0.1),
        -2px -2px 200px rgba(255, 255, 255, 0.1);

}

.makePostContainer {
    display: flex;
}

.userPhoto {
    height: 6.5vh;
    border-radius: 50%;
    border: 1px solid #EEEDEE;
}

.makePost input {
    margin-left: 10px;
    border: 1px solid #E7EDF2;
    border-radius: 20px;
    width: 85%;
    padding-left: 10px;
    font-family: sans-serif;
    font-size: 12px;
}

.makePost input:focus{
    outline: none;
}

.makePost textarea {
    margin-left: 10px;
    border: none;
    width: 96%;
    padding-left: 10px;
    padding-bottom: 3px;
    height: 90px;
    font-size: 13px;
}
.makePost textarea:focus{
    outline: none;
    font-family: sans-serif ;
}

.makePost hr{
    width: 100%;
    height: 0.001vh;
    color: #ffffff;
    font-size: 1px;
    margin-bottom: 1vh;
}
.attachMedia {
    color: #A35EEB;
    height: 5vh;
    margin-bottom: 1.5vh;
}
.attachMedia i{
    border-radius:50px;
    font-size:100% ;
    background-color: #edeef1;
}
.attachMedia i{
    padding: 10px 11px; 
}
.attachMedia button{
    color: #9352da;
    margin-left: 10px;
    height: 100%;
    border-radius: 15px;
    padding: 0px 15px;
    border: none;
}
.selectedFile{
    display: flex;
    justify-content: space-between;
    background-color: #F8F9FB;
    font-size: 11px;
    padding: 0px 20px;
    border-radius: 25px;
    font-family: sans-serif;
    color: #7d7e80;
    margin-bottom: 0.5vh;
    height: 5vh;
}
.selectedFile p{
    display: inline;
    height: 100%;
}
.selectedFile button{
    border: none;
    
}
.selectedFile button:hover{
    color: none;
}
.fileSize{
    margin-right: 10px;
}
.fa-xmark{
    padding: 1px 4px;
    border-radius:50px ;
    border: 1px solid;
    margin-left: 10px;
}


.postMessage{
    display: flex;
    justify-content: space-between;
    height: 5vh;
}

.selectDestination select{
    padding: 0px 10px;
    height: 100%;
    border-radius: 15px;
    border: 1px solid #edeef1;
    background-color: transparent;
    color: #7d7e80;
}

.cancelPost{
    border: none;
    background-color: transparent;
    font-size: 15px;
    height: 100%;
    color: #a156f1;
}
.cancelPost:hover{
    text-decoration: underline;
}
.submitPost{
    height: 100%;
    border-radius: 15px;
    border: none;
    padding: 0px 15px;
    background-color: #9352da;
    color: white;
    text-transform: capitalize;
    font-size: 15px;
    margin-left: 1vw;
}

.searchGroups{
    height: 5vh;
    width: 55%;
    margin-top: 5px;
    margin-left: -11px;
}
.searchGroup{
    height: 100%;
    padding-left: 20px;
}