/* signup styles */
.singup--page{
    height: 100vh;
    background-image: url('../images/background.webp');
    background-size:cover;
}
.singup--nav{
    display: flex;
    justify-content: space-between;
    width: 80vw;
    margin: auto;
    padding-top: 2vh;
    margin-bottom: 4vh;

}
.logo{
    height: 4vw;
}
.signup--content{
    /* width: 60vw; */
    margin: auto;
}

.right{
    background-color: #e6e2e2;
    color: black;
    width: 50%;
    margin: auto;
    padding: 20px;
    border-radius: 5px;
    opacity: 95%;
}
.right > div > * {
    transform: 1s ease;
}
.right--top{
    text-align: center;
    
}
.right p{
    font-size: 13px;
}
.formWrapper{
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 100%;
}

.formWrapper > *{
    width: 45%;
}
.singup--form{
    width: 80%;
    margin: auto;
    padding: 10px 40px;
}

.singup--form label{
    font-size: small;
}
.singup--form input{
    background-color: transparent;
    height: 25px;
    width: 100%;
    padding-left: 10px;
    margin-bottom: 2vh;
    margin-top: 1vh;
    border: none;
    border-bottom: 1px solid rgb(153, 145, 145);
    font-size: small;
    outline: none;
}
.singup--form input:hover{
    border-bottom: 2px solid;
}

.singup--form button{
    width: 60%;
    display: block;
    margin: 0px auto;
    background-color: #872DE4;
    border: none;
    color: white;
    height: 30px;
    border-radius: 5px;
    font-weight: bold;
}
.singup-links{
    display: flex;
    width: 50%;
    justify-content: space-between;
    border-radius:5px ;
    align-items: center;
}


.a{
    text-decoration: none;
    font-size: 16px;
    color: white;
    font-weight: bold;
    text-transform: capitalize;
    /* border-bottom: 1px solid; */
}
.a:hover{
    border-bottom:2px solid ;
}
.valid{
    color: rgb(13, 148, 13);
    font-size: 13px;
    margin-top: 0;
}
.invalid{
    color: red;
    font-size: 13px;
    margin-top: 0;
}