/* signup styles */
.singup--page{
    margin-top: 0;
    background-image: url('../images/background.webp');
    background-size:cover;
    height: 100vh;
}
.singup--nav{
    display: flex;
    justify-content: space-between;
    width: 80vw;
    margin: auto;
    padding-top: 2vh;

}
.logo{
    height: 5vw;
}
.signup--content{
    display: flex;
    justify-content: space-between;
    width: 60vw;
    margin: auto;
}
.left{
    background-color: #681CB5;
    width: 50%;
}
.right{
    background-color: #ffffff;
    color: black;
    width: 50%;
    padding: 20px;
}
.right--top{
    text-align: center;

}
.singup--form{
    width: 80%;
    margin: auto;
    padding: 10px 40px;
}

.singup--form label{
    font-size: small;
}
.singup--form input{
    background-color: #F7F7F7;
    border-radius: 5px;
    border: 1px solid rgb(224, 222, 222);
    height: 25px;
    width: 100%;
    padding-left: 10px;
}
.singup--form button{
    width: 80%;
    display: block;
    margin: 0px auto;
    background-color: #872DE4;
    border: none;
    color: white;
    height: 30px;
    border-radius: 5px;
    font-weight: bold;
}
.singup-links{
    display: flex;
    width: 40vw;
    justify-content: space-between;
    margin: auto;
}


.a{
    color: black;
    text-decoration: none;
    font-size: 12px;
    color: white;

}

.valid{
    color: rgb(13, 148, 13);
    font-size: 13px;
    margin-top: 0;
}
.invalid{
    color: red;
    font-size: 13px;
    margin-top: 0;
}